build/
\#*
*~
*.swp
*.log
*.bak
input.txt
node_modules
mkday.py
tmp
min.js.gz
src/Revision.newt
.calva
.clj-kondo
.joyride
.lsp
.vscode
.helix
bootstrap/serializer.js
/newt-vscode-lsp/src/newt.js
/playground/src/newt.js
