#app {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  position: absolute;
}
.wrapper {
  display: flex;
  flex-direction: row;
  height: 100%;
}
.wrapper > div {
  flex: 1 1;
}
#result {
  overflow: auto;
  font-family: 'Comic Code', monospace;
  font-size: 12px;
  white-space: pre;
}
